body{
    background-color: rgb(236, 233, 226);
} 

.container{
    margin-bottom: 20px;
}

#PageName{
    font-size: 30px;
    font-weight: bold;
}


#txtEmail, #txtPassword, #btnSignUp, #btnLogin{
    border-radius: 3px;
    height: 40px;
    width: auto;
    margin-right: 10px;
}

#txtEmail, #txtPassword{
    border: 1px solid lightgray;
}

#header-nav{
   justify-content: space-between;
}

#acctBtn{
    margin-left: 10px;
}

#Submit-feedback-Btn, #View-feedback-Btn, #Submit-Acct-Btn{
    margin-top: 10px;
    font-size: 20px;
}

#search-recipe-btn, #sign-up-btn, #log-in-btn{
    margin-right: 10px;
}


.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.font2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


.btnstyle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron {
    border: 1px solid black;
    margin-top: 20px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.icon{
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

li{
    display: inline-block;
}

img{
    margin-right: 10px;
}

.form-group{
    margin-top: 5px;
}

#search-prompt{
    display: inline;
}